<?xml version="1.0" encoding="UTF-8"?>
<!-- 工程全局配置 -->
<!-- 本文件演示：
		1、配置了两个前端控制器(一个解析.action的请求，一个解析restful风格的请求)  
		2、把config.spring包下的spring配置文件都进行引用
		3、POST请求乱码过滤器 
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="
		http://java.sun.com/xml/ns/javaee 
		http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<display-name>HelloSpringMVC</display-name>

	<!-- 加载spring容器 -->
	<!-- 把config/spring/目录下的spring配置文件加载进来 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/classes/spring/applicationContext-*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- springMVC配置前端控制器 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- contextConfigLocation是配置springmvc所加载的映射器、适配器等配置文件的地址， 如果不配置contextConfigLocation，默认加载的是/WEB-INF/servlet名称-servlet.xml（springmvc-servlet.xml） -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/springmvc.xml</param-value>
		</init-param>
	</servlet>

	<!-- 设置springmvc前端控制器需要解析那种类型的访问 -->
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<!-- 常用两种配置方式： 1、*.action：访问以.action结尾时由DispatcherServlet进行解析"C:/Users/ADMINI~1/AppData/Local/Temp/Rar$DRa0.760/code/springmvcfirst1208/config/springmvc.xml" 
			2、/:所有访问都由DispatcherServlet进行解析，对于静态文件的解析需要配置不让DispatcherServlet进行解析 -->
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>
	
	<!-- 配置restful风格前端控制器 -->
	<servlet>
		<servlet-name>springmvc_rest</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/springmvc.xml</param-value>
		</init-param>
	</servlet>
	
	<!-- 配置restful风格的接口访问解析 -->
	<servlet-mapping>
		<servlet-name>springmvc_rest</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- post乱码过虑器 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>